@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.background-image {
  display: inline-block;
}
body {
  background: url(img1.jpg) no-repeat fixed center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.menu-bar {
  background-color: green;
  height: 12vh;
  color: white;
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
}
.menu-bar ul li {
  font-weight: bolder;
  width: 120px;
  margin: 15px;
  padding: 15px;
  font-family: "Roboto Slab", serif;
}
.menu-bar ul li a {
  text-decoration: none;
  color: white;
}

 .active,.menu-bar ul li:hover { 
  background-color: #2bab0d;
  border-radius: 3px;
}

.menu-bar .fa {
  margin-right: 8px;
}

.sub-menu1{
  display: none;
}

.menu-bar ul li:hover .sub-menu1{
  display: block;
  position: absolute;
  background-color: green;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child{
  border-bottom: none;
} 
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
  color: #b2ff00;
}
.fa-angle-right{
  float: right;
}

.sub-menu2{
  display: none;
}
.hover-me:hover .sub-menu2{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: green;
}